

.input{
    width: 680px;
     font-size: 15px;
    padding: 12px;
    border-radius: 1px;
    border: 1px solid brown;
    margin: 3px;
    font-weight: lighter;
   
}

.span-inp{
    font-size: 15px;
    // position: absolute;
    // left: 5px;

  
}

